<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <link href="css/estilos.css" rel="stylesheet" type="text/css" />
</head>

<body>
	{% block content %}{% endblock %}
	
<div id="pie">
<address>
  Ejercicio PHP Completo
</address>
<p class="licencia">El programa PHP que genera esta página está bajo
<a rel="license" href="http://www.gnu.org/licenses/agpl.txt">licencia AGPL 3 o posterior</a>.</p>
</div>
</body>
</html>