{% extends "base.html" %}
{% block title %}Registro de usuarios{% endblock %}

{% block content %}
{% import "formularios.html" as forms %}
<form method="post">
<p>{{ forms.input('user') }}</p>
<p>{{ forms.input('passwd', "", 'password') }}</p>
<input type="submit" value="login">	
</form>
{% endblock %}
